<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.40">
    <actions/>
    <description>A simple Jenkins pipeline</description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
        <script>
            pipeline {
                agent any
                environment {
                    APP_NAME = "my-java-app"
                    DOCKER_IMAGE = "my-java-app:latest"
                }
                tools {
                    maven '3.9.9'
                }
                stages {
                    stage('Clone Repo') {
                        steps {
                            // Clone the repo
                            git branch: 'main', url: 'https://github.com/nawab312/java_app_jenkins.git'
                        }
                    }
                    stage('Build Maven Project') {
                        steps {
                            // Run Maven build to package application
                            sh 'mvn clean package'
                        }
                    }
                    stage('Build Docker Image') {
                        steps {
                            sh 'docker build -t ${DOCKER_IMAGE} .'
                        }
                    }
                    stage('Run Docker Container') {
                        steps {
                            sh 'docker run -d --name ${APP_NAME} -p 8083:8083 ${DOCKER_IMAGE}'
                        }
                    }
                }
                post {
                    always {
                        // Clean up workspace after pipeline
                        cleanWs()
                    }
                }
            }
        </script>
        <sandbox>true</sandbox>
    </definition>
    <triggers/>
    <disabled>false</disabled>
</flow-definition>
